*, *::before, *::after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    color: #333333;
    background-color: rgb(250, 249, 245);
}

ul { list-style: none; }
ol { list-style: none; }
a { text-decoration: none; color: inherit; }

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(0, 48, 143);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    color: white;
}

.site-name{
    margin-left: 1.5rem;
}

.nav-links {
    margin-right: 1.5rem;
}

nav ul {
    display: flex;
    gap: 1rem;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem 17rem;
    border-radius: 20px;
    padding: 5rem 8rem;
    background-color: rgb(50, 50, 50);
    min-height: 60vh;
}

.hero-container h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: white
}

.hero-container p {
    font-size: 1.2rem;
    color: white;
}

.navigate-card-container {
    background-color: rgb(170, 170, 170);
    border: 3px solid #e5e5e5;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    min-width: 40vh;
}

.nav-steps {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 1rem;
}

.nav-steps li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-card-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    background-color: #00308f;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
}

.about {
    margin: 2rem 17rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 8rem;
    background-color: rgb(50, 50, 50);
    min-height: 20vh;
    color: white;
}