/* Universal Styles*/

*, *::before, *::after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0c447c;
    --secondary-color: #ba7517;
    --background-color: #f1efe8;
    --text-color: #2c2c2a;
    --box-color: #2c2c2a;
    --shadow-color: #0000001a;
}

ul { list-style: none; }
ol { list-style: none; }
a { text-decoration: none; color: inherit; }

body {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.6;
    font-size: 1.2rem;
    color: var(--text-color);
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6,
button,
nav a,
.site-name {
  font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
}

h2 {
    font-size: 2rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

/* Universal Elements Style */

header {
    padding-block: 1rem;
    border-bottom: 2px solid var(--box-color);
    box-shadow: 0 4px 6px var(--shadow-color);
    color: var(--primary-color);

    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--background-color);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 1rem;
}

.container {
    width: min(1300px, 100% - 100px);
    margin-inline: auto;
}

.box {
    display: flex;
    padding: 3rem clamp(1.5rem, 4vw, 4rem);
    margin-block: 2rem;
    border-radius: 20px;
    border: 2px solid var(--box-color);
}

/* Home Page */

.hero-box {
    justify-content: space-between;
    align-items: flex-start;

    min-height: 60vh;
}

.navigate-card-container {
    padding: 1.5rem;
    min-width: 40vh;

    border: 3px solid var(--box-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
}

.nav-steps {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 1rem;
}

.nav-steps li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-card-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border: 2px solid var(--box-color);
    width: 27px;
    height: 27px;
    
    border-radius: 50%;
    background-color: #ba7617c4;
    font-size: 0.9rem;
    font-weight: bold;
}

.about {
    flex-direction: column;

    min-height: 20vh;
    padding: 2rem clamp(1.5rem, 4vw, 4rem);
}

footer {
    margin: 1rem;
}

/* Article Site */

.page-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.toc {
    flex-direction: column;
    padding: 2rem;
}